<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Thumper___Leaf_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Thumper___Leaf_Editor.Properties.Settings>
            <setting name="leafeditorsize" serializeAs="String">
                <value>1430, 555</value>
            </setting>
            <setting name="leafeditorloc" serializeAs="String">
                <value>307, 418</value>
            </setting>
            <setting name="lvleditorsize" serializeAs="String">
                <value>997, 383</value>
            </setting>
            <setting name="lvleditorloc" serializeAs="String">
                <value>864, 29</value>
            </setting>
            <setting name="gateeditorsize" serializeAs="String">
                <value>386, 383</value>
            </setting>
            <setting name="gateeditorloc" serializeAs="String">
                <value>472, 29</value>
            </setting>
            <setting name="mastereditorsize" serializeAs="String">
                <value>462, 383</value>
            </setting>
            <setting name="mastereditorloc" serializeAs="String">
                <value>4, 29</value>
            </setting>
            <setting name="foldersize" serializeAs="String">
                <value>297, 444</value>
            </setting>
            <setting name="folderloc" serializeAs="String">
                <value>4, 418</value>
            </setting>
        </Thumper___Leaf_Editor.Properties.Settings>
    </userSettings>
</configuration>
