<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Thumper_Custom_Level_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<Thumper_Custom_Level_Editor.Properties.Settings>
      <setting name="game_dir" serializeAs="String">
          <value>none</value>
      </setting>
      <setting name="beeblesize" serializeAs="String">
          <value>76, 66</value>
      </setting>
      <setting name="beebleloc" serializeAs="String">
          <value>620, 1</value>
      </setting>
      <setting name="leafzoom" serializeAs="String">
          <value>40</value>
      </setting>
      <setting name="lvlzoom" serializeAs="String">
          <value>40</value>
      </setting>
      <setting name="muteapplication" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="leafautoinsert" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="leafzoomvert" serializeAs="String">
          <value>20</value>
      </setting>
      <setting name="version" serializeAs="String">
          <value>--</value>
      </setting>
      <setting name="firstrun" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="LeafOptionShowCategory" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="LeafOptionShowGrid" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="LeafOptionConnectBars" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="LeafOptionShowLane" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="LeafOptionEaseDots" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="LeafOptionThinBars" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="LeafOptionShowWave" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="ColorMainMenuBar" serializeAs="String">
          <value>80, 0, 0</value>
      </setting>
      <setting name="ColorMainSubMenubar" serializeAs="String">
          <value>31, 31, 31</value>
      </setting>
      <setting name="ColorMainBG" serializeAs="String">
          <value>31, 31, 31</value>
      </setting>
      <setting name="ColorLeafBG" serializeAs="String">
          <value>55, 55, 55</value>
      </setting>
      <setting name="ColorLeafSeqBG" serializeAs="String">
          <value>10, 10, 10</value>
      </setting>
      <setting name="ColorLeafTimeSig1" serializeAs="String">
          <value>55, 55, 55</value>
      </setting>
      <setting name="ColorLeafTimeSig2" serializeAs="String">
          <value>45, 45, 45</value>
      </setting>
      <setting name="ColorLeafRawBG" serializeAs="String">
          <value>31, 31, 31</value>
      </setting>
      <setting name="ColorLeafRawText" serializeAs="String">
          <value>White</value>
      </setting>
      <setting name="ColorLvlBG" serializeAs="String">
          <value>55, 55, 55</value>
      </setting>
      <setting name="ColorLvlLeafBG" serializeAs="String">
          <value>10, 10, 10</value>
      </setting>
      <setting name="ColorLvlTunnelBG" serializeAs="String">
          <value>10, 10, 10</value>
      </setting>
      <setting name="ColorLvlLoopsBG" serializeAs="String">
          <value>10, 10, 10</value>
      </setting>
      <setting name="ColorGateBG" serializeAs="String">
          <value>55, 55, 55</value>
      </setting>
      <setting name="ColorGateLvlBG" serializeAs="String">
          <value>10, 10, 10</value>
      </setting>
      <setting name="ColorMasterBG" serializeAs="String">
          <value>55, 55, 55</value>
      </setting>
      <setting name="ColorMasterLvlBG" serializeAs="String">
          <value>10, 10, 10</value>
      </setting>
      <setting name="ColorSampleBG" serializeAs="String">
          <value>55, 55, 55</value>
      </setting>
      <setting name="ColorSampleListBG" serializeAs="String">
          <value>10, 10, 10</value>
      </setting>
      <setting name="ColorWaveformBG" serializeAs="String">
          <value>Black</value>
      </setting>
      <setting name="ColorProjectExplorerBG" serializeAs="String">
          <value>31, 31, 31</value>
      </setting>
      <setting name="ColorRawBG" serializeAs="String">
          <value>31, 31, 31</value>
      </setting>
      <setting name="ColorRawText" serializeAs="String">
          <value>White</value>
      </setting>
      <setting name="UserKeybinds" serializeAs="String">
          <value>-</value>
      </setting>
      <setting name="ColorProjExpHighlight" serializeAs="String">
          <value>56, 56, 56</value>
      </setting>
      <setting name="ColorProjExpText" serializeAs="String">
          <value>White</value>
      </setting>
      <setting name="ZoomHoriz" serializeAs="String">
          <value>40</value>
      </setting>
      <setting name="ZoomVert" serializeAs="String">
          <value>20</value>
      </setting>
      <setting name="RuntimeAsk" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="RuntimeSkip" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="LeafHideRaw" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="VolKey1" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey2" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey3" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey4" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey5" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey6" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey7" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey8" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey9" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey10" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey11" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey12" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey13" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey14" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey15" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey16" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey17" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey18" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="VolKey19" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey20" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey100" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey99" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="VolKey21" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="PreviewTunnel" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="ChunkShowName" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="ChunkShowBeats" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="ChunkShowTime" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="LeafOptionVerticalCells" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="ColorTuningBG" serializeAs="String">
          <value>Black</value>
      </setting>
      <setting name="ColorTuningLine" serializeAs="String">
          <value>White</value>
      </setting>
      <setting name="ColorTuningPoint" serializeAs="String">
          <value>255, 0, 128</value>
      </setting>
      <setting name="ColorTuningMaxMin" serializeAs="String">
          <value>80, 80, 80</value>
      </setting>
      <setting name="ColorTuningFont" serializeAs="String">
          <value>White</value>
      </setting>
  </Thumper_Custom_Level_Editor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NAudio.Core" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NAudio.Wasapi" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAPICodePack" publicKeyToken="8985beaab7ea3f04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.8.0" newVersion="1.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NAudio.WinMM" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
